.heading
{
    font-size:4rem;
    color:rgb(0, 255, 191);
    margin-top:3.5rem;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    z-index: 1;
}

@media screen and (max-width: 768px){
    .heading{
        margin-top:6rem;
        font-size:2.5rem;
    }
}